{{#each data.contacts}}
<form method="get" action="/update?id={{id}}&name={{name}}&phone={{phone}}">
    {{>contact_btn}}
</form>
{{/each}}

<form method="POST">
    <div class="form_inputs">
        <label for="name">name</label>
        <input name="name" type="text" id="name" value="{{data.contact.name}}">
        <label for="phone">phone</label>
        <input name="phone" type="text" id="phone" value="{{data.contact.phone}}">
    </div>

    <div class="form_btns">
        <button type="submit" formaction="/update/{{data.contact.id}}" formmethod="post">update</button>
        <button type="submit" formaction="/delete/{{data.contact.id}}" formmethod="post">delete</button>
        <!-- <button type="submit" formaction="/" formmethod="get">cancel</button> -->
        {{{cancel '/' 'get'}}}
    </div>
</form>
